<%= form_for(:session, url: login_path) do |f| %>
	
	<%= f.label :name, "Username" %>
	<%= f.text_field :name, class: 'form-control' %>

	<%= f.label :password %>
	<%= f.password_field :password, class: 'form-control' %>

	<%= f.label :remember_me, class: "checkbox inline" do %>
		<%= f.check_box :remember_me %>
		<span>Remember me</span>
	<% end %>

	<%= f.submit "Log in", class: "btn btn-small btn-primary submit" %>
	
<% end %>