<% if @posts.nil? || @posts.empty?%>
	<h2>No images to display ...</h2>

<% else %>
	<div id="all-posts" class="masonry centered" >
		<% @posts.in_groups_of(3).each do |post_set| %>

			<% post_set.each_with_index do |post, index| %>
				
				<% if !post.nil? %>
					<% @img_url = post.url.blank? ? post.image.url : post.url %>
					<% @user = User.find(post.user_id) %>

					<div class="col-<%= index+1 %> box">
						<%= link_to image_tag(@img_url, alt: post.description), 
						    @img_url, class: "fancybox", title: "Posted by #{link_to @user.name, @user}" %>
					</div>

					<div style="display: none;">
						<div class="fancybox-display" id="fancybox-display-<%= post.id %>">
							<%= link_to image_tag(@img_url, alt: @img_url, class: "fancybox-image"),
							 	  @img_url, target: "_blank" %>
							<h5>Posted by <%= link_to @user.name, @user %></h5>
						</div>
					</div>
				<% end %>
			
			<% end %>

		<% end %>
	</div>

<% end %>