<%= form_for @post do |f| %>
	<%= render 'error_messages' %>

	<div class="field">
		<%= f.label :url, "Image URL" %>
		<%= f.text_field :url, class: 'form-control' %>
	</div>

	<div class="field">
		<%= f.label :description %>
		<%= f.text_area :description, class: 'form-control' %>
	</div>

	<div class="actions">
		<%= f.submit "submit", id: "form-submit", 
			class: "btn btn-small btn-primary" %>
	</div>
<% end %>