<%= form_for @post, html: { multipart: true } do |f| %>
	<%= render 'error_messages' %>

	<div class="row">
		<div class="field col-md-5 col-sm-12 col-xs-12" id="image-url">
			<%= f.label :url, "Image URL" %>
			<%= f.text_field :url, class: 'form-control' %>
		</div>
		<div class="or-separator col-md-2 col-sm-12 col-xs-12">
				<h5>- OR -</h5>
		</div>
		<div class="field col-md-5 col-sm-12 col-xs-12" id="image-upload">
			<%= f.label :image, "Upload image" %>
			<%= f.file_field :image, class: 'form-control' %>
		</div>
	</div>

	<div class="field" id="image-description">
		<%= f.label :description %>
		<%= f.text_area :description, class: 'form-control' %>
	</div>

	<div class="actions">
		<%= f.submit "submit", class: "btn btn-small btn-primary submit" %>
	</div>

<% end %>