<!DOCTYPE html>
<html>
<head>
  <title>piknix</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
	<%= render 'layouts/header' %>

	<% flash.each do |msg_type, msg| %>
		<div class="alert alert-<%= msg_type %>">
			<h4><%= msg %></h4>
		</div>
  <% end %>

	<div id="subtitle" class="container-fluid">
		<h4><%= yield(:subtitle) %></h4>
	</div>

	<div class="container-fluid">
  	<%= yield %>
	</div>

	<div style="display: none;">
		<div id="post-form" class="form">
			<%= render 'posts/post_form', :@post => Post.new %>
		</div>
	</div>
</body>
</html>
